<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="main/header::header" />
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
			<div class="main_content">
				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a th:href="@{/main}"><i class="icon-home"></i></a></li>
		                    <li>系统信息</li>
		                    <li>资源管理</li>
		                </ul>
		            </div>
		        </nav>
				<form id="searchForm" th:action="@{/system/resource/listResource}" th:object="${resource}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
								<span class="add-on">资源名称</span> 
								<input id="name" name="name" type="text" class="input-medium" th:value="*{name}" maxlength="20"/>
							</div>
							<div class="input-prepend">
								<span class="add-on">资源路径</span> 
								<input id="url" name="url" type="text" class="input-medium" th:value="*{url}" maxlength="64"/>
							</div>
                         	<div class="pull-right">
								<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>
								<button type="button" class="btn btn-primary btn-add">新 增</button>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal">
						<thead>
							<tr>
								<th></th>
								<th>资源名称</th>
								<th>资源类型</th>
								<th>资源路径</th>
								<th>资源状态</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entity,reStat : ${pageInfo.list}">
								<td><span th:text="${reStat.count}"></span></td>
								<td><span th:text="${entity.name}"></span></td>
								<td><span th:text="${entity.resourceType}"></span></td>
								<td><span th:text="${entity.url}"></span></td>
								<td><span th:text="${entity.state}"></span></td>
								<td><span th:text="${entity.createDateTime}"></span></td>
								<td>
									<span th:if="${entity.state eq '正常'}">
										<a th:attr="resourceId=${entity.id}" title="编辑" href="javascript:void(0)" class="btn-mini btn-edit"><i class="icon-edit"></i></a> 
										<a th:attr="resourceId=${entity.id}" title="删除" href="javascript:void(0)" class="btn-mini btn-delete"><i class="icon-remove"></i></a>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
				</form>	
			</div>
		</div>
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="modal-form" class="form-horizontal form_validation_tip" method="post">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal">&times;</button>
					<h3 id="modal_h"></h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="id_" />
					<fieldset>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>资源名称：</label>
							<div class="controls">
								<input type="text" class="span3" id="name_" name="name_" maxlength="20"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>资源类型：</label>
							<div class="controls">
								<input type="text" class="span3" id="resourceType_" name="resourceType_" maxlength="1" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								<span class="help-block"></span>
							</div>	
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>资源路径：</label>
							<div class="controls">
								<input type="text" class="span3" id="url_" name="url_" maxlength="64"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">备注：</label>
							<div class="controls">
								<input type="text" class="span3" id="description_" name="description_" maxlength="64"/>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
		            <button class="btn btn-primary btn-submit" type="submit">提 交  </button>
		            <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
		        </div>
			</form>
		</div>
		<script th:src="@{/ecom/js/system/resource/listResource.js}"></script>
	</body>
</html>