<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="main/header::header" />
	<title>订单列表</title>
<!--通用媒体查询-->
<body>
	<div class="order_empty">
    	<!--图片-->
    	<div class="order_pic">
        	<div class="bird"></div>
        	<div class="loading">
	            <span class="bounce1"></span>
	            <span class="bounce2"></span>
	            <span class="bounce3"></span>
	            <span class="bounce4"></span>
	            <span class="bounce5"></span>
        	</div>
        	<div class="list"></div>
    	</div>
    	<!--提示性文字-->
    	<div class="tip_empty">很抱歉，您还没有相关订单..</div>
	</div>
	<script>
		addEventListener('load', function() {
		})
	</script>
</body>
</html>