<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.thinkx.ecom.basics.order.mapper.SqlCommonMapper">
	
	<!-- 购物车模块  主键 -->
	<sql id="getCardId">
     	select SEQ_TB_ECOM_CART.nextval as cart_id from dual
	</sql>
	
	<!-- 订单货品明细模块  主键 -->
	<sql id="getOrderProductItemId">
     	select SEQ_TB_ECOM_ORDER_PRODUCT_ITEM.nextval as id from dual
	</sql>
	
	<!-- 订单收货地址模块  主键 -->
	<sql id="getOrderShipId">
     	select SEQ_TB_ECOM_ORDER_SHIP.nextval as id from dual
	</sql>
	
	<!-- 电商平台订单模块  主键 -->
	<sql id="getPlatfOrderId">
     	select SEQ_TB_ECOM_PLATF_ORDER.nextval as id from dual
	</sql>
	
	<!-- 电商平台门店订单模块  主键 -->
	<sql id="getPlatfShopOrderId">
     	select SEQ_TB_ECOM_PLATF_SHOP_ORDER.nextval as id from dual
	</sql>
	
	<!--订单物流关联表  主键 -->
	<sql id="getExpressPlatfId">
     	select SEQ_TB_ECOM_EXPRESS_PLATF.nextval as id from dual
	</sql>
	
	<!-- 订单包裹物流信息  主键 -->
	<sql id="getOrderExpressPlatfId">
     	select SEQ_TB_ECOM_ORDER_EXPR_PLATF.nextval as id from dual
	</sql>
	
	<!-- 退款信息  主键 -->
	<sql id="getOrderRefundId">
     	select 'R' || SEQ_TB_ECOM_ORDER_REFUND.nextval as id from dual
	</sql>
	
	<!-- 退换货信息  主键 -->
	<sql id="getReturnsOrderId">
     	select SEQ_TB_ECOM_RETURNS_ORDER.nextval as id from dual
	</sql>
	
	<!-- 退货商品信息  主键 -->
	<sql id="getSellbackGoodslistId">
     	select SEQ_TB_ECOM_SELLBACK_GOODSLIST.nextval as id from dual
	</sql>
	
	<!-- 电商异常信息表  主键 -->
	<sql id="getExceptionInfId">
     	select SEQ_TB_ECOM_EXCEPTION_INF.nextval as id from dual
	</sql>
	
	<!-- 退货包裹确认收货信息表  主键 -->
	<sql id="getExpressConfirmId">
     	select SEQ_TB_ECOM_EXPRESS_CONFIRM.nextval as id from dual
	</sql>
	
	<!-- 退货地址表 主键 -->
	<sql id="getReturnAddressId">
     	select SEQ_TB_ECOM_RETURN_ADDRESS.nextval as id from dual
	</sql>
</mapper>