.cart-slider{
  width: 100%;
  height:110px;
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  user-select: none;
  overflow: hidden;
}
.cart-slider:last-child{
  border-bottom: 0 none;
}
.cart-slider-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:#fff;
  z-index: 1;
  transition: 0.3s;
}
.cart-slider.disable .cart-slider-content{
  background-color: #f3f3f3;
}
.cart-slider-action{
  position: absolute;
  width:104px;
  height:100%;
  right: 2px;
  top: 0px;
  color:#fff;
  text-align: center;
  font-size: 14px;
  line-height: 100px; 
}
.cart-slider-action .xicon{
  font-size:20px;
  width: 100%;
  height: 100%;
  float: left;
  color: #fff;
  background: #f26464;
}
.cart-slider-action .xicon.addXicon{
  background: #fece03;
}
.module_first .edit_product label,
.operation_tab_text .hkb_alignment_left label{
  font-weight: normal;
  margin-bottom: 0;
}
.module_first .edit_product label input.radio,
.operation_tab_text .hkb_alignment_left label input.radio{
  outline: none;
  margin-top: 0;
}

.module_first .edit_product .product_minute{
  text-decoration: none;
}

.cart-container{
  padding-bottom: 65px;
}

.volume_btn{
  position: absolute;
  bottom: 18px;
  right: 0;
  color: #666;
}

.volume_btn span {
    font-size: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle
}

.volume_btn input {
    border: 0;
    background-color: transparent;
    text-align: center;
    width: 50px;
    font-size: 14px
}

.volume_btn div {
    color: #8a8a8a;
    font-size: 14px;
    padding-right: 5px
}

.cart-edit-container {
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 100%;
  background-color: #f5f5f9;
}

.operation_tab_text{
  z-index: 100 !important;
}

.cart-edit-container .operation_tab_text{
  bottom: 0;
}