<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:kie="http://drools.org/schema/kie-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://drools.org/schema/kie-spring http://drools.org/schema/kie-spring.xsd"
	default-autowire="byName">
	
	<!-- http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd -->
	<!-- 每5分钟扫描是否有新版本文件 -->
	<!-- <kie:import releaseId-ref="pmsInterface" enableScanner="true" scannerInterval="300000" />
	<kie:releaseId id="pmsInterface" groupId="com.cn.thinkx" artifactId="pms-interface" version="1.0-SNAPSHOT" /> -->

	<!-- -Dspring.profiles.active="development" -->
	<!-- <beans profile="development">
		<kie:kmodule id="KM_HelloWorld">
			<kie:kbase name="KB_HelloWorld" packages="rules">
				<kie:ksession name="KS_HelloWorld" type="stateful">
					<kie:consoleLogger />
				</kie:ksession>
			</kie:kbase>
		</kie:kmodule>
	</beans> -->
	<bean id="kiePostProcessor" class="org.kie.spring.annotations.KModuleAnnotationPostProcessor" />

	<bean id="pmsDroolsService" class="com.cn.thinkx.pms.drools.service.impl.PmsDroolsServiceImpl" />
</beans>  