<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.ecom.eshopbanner.mapper.EshopBannerMapper">
	
	<sql id="eshopBannerColumns">
		 ID,
		 BANNER_ID,
		 ESHOP_ID,
		 DATA_STAT,
		 REMARKS,
		 CREATE_USER,
		 TO_CHAR(CREATE_TIME, 'YYYY-MM-DD HH24:MI:SS') CREATE_TIME,
		 UPDATE_USER,
		 TO_CHAR(UPDATE_TIME, 'YYYY-MM-DD HH24:MI:SS') UPDATE_TIME,
		 LOCK_VERSION
	</sql>
	
	<select id="getList" parameterType="EshopBanner" resultType="EshopBanner">
		select
			<include refid="eshopBannerColumns"/>
		from TB_ECOM_ESHOP_BANNER_REF
		where 1=1
		<if test="bannerId !=null and bannerId !='' ">
		 	and BANNER_ID = #{bannerId}
		 </if>
		 <if test="eshopId !=null and eshopId !='' ">
		 	and ESHOP_ID = #{eshopId}
		 </if>
		 and DATA_STAT = '0'
		 order by UPDATE_TIME desc
	</select>
	
	<select id="getEshopBanner" parameterType="EshopBanner" resultType="EshopBanner">
		select
			<include refid="eshopBannerColumns"/>
		from TB_ECOM_ESHOP_BANNER_REF
		where 1=1
		<if test="bannerId !=null and bannerId !='' ">
		 	and BANNER_ID = #{bannerId}
		 </if>
		 <if test="eshopId !=null and eshopId !='' ">
		 	and ESHOP_ID = #{eshopId}
		 </if>
	</select>
	
	<insert id="insert" parameterType="EshopBanner">
		<selectKey resultType="String" order="BEFORE" keyProperty="id">  
			<include refid="com.cn.thinkx.ecom.base.mapper.SqlCommonMapper.getEcomId" />
		</selectKey>
		insert into TB_ECOM_ESHOP_BANNER_REF(
			ID,
			BANNER_ID,
		 	ESHOP_ID,
		 	DATA_STAT,
		 	REMARKS,
			CREATE_USER,
			UPDATE_USER,
			CREATE_TIME,
			UPDATE_TIME,
			LOCK_VERSION
		) 
		values (
			#{id},
			#{bannerId, jdbcType=VARCHAR},
			#{eshopId, jdbcType=VARCHAR},
			'0',
			#{remarks, jdbcType=VARCHAR},
			#{createUser, jdbcType=VARCHAR},
			#{updateUser, jdbcType=VARCHAR},
			sysdate,
			sysdate,
			'0'
		)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="EshopBanner">
		update TB_ECOM_ESHOP_BANNER_REF
		<trim prefix="SET" suffixOverrides=",">
			<if test="bannerId != null">BANNER_ID=#{bannerId,jdbcType=VARCHAR},</if>
			<if test="eshopId != null">ESHOP_ID=#{eshopId,jdbcType=VARCHAR},</if>
			<if test="dataStat != null">DATA_STAT=#{dataStat,jdbcType=VARCHAR},</if>
			<if test="updateUser != null">UPDATE_USER=#{updateUser,jdbcType=VARCHAR},</if>
			UPDATE_TIME=SYSDATE,
			LOCK_VERSION=LOCK_VERSION+1
		</trim>
		where ID=#{id}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="String">
		delete from TB_ECOM_ESHOP_BANNER_REF where ID=#{id}
	</delete>
	
</mapper>
