<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="main/header::header" />
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
 			<div class="main_content">
 				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a href="#"><i class="icon-home"></i></a></li>
		                    <li>电商管理</li>
		                    <li>电商楼层管理</li>
		                </ul>
		            </div>
	        	</nav>
				<form id="searchForm" th:action="@{/floor/listFloors}" th:object="${floor}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
								<span class="add-on">楼层标题</span> 
								<input id="title" name="title" type="text" class="input-medium" th:value="*{title}" maxlength="20"/>
							</div>
							<div class="input-prepend">
	           			   	   	<span class="add-on">电商名称</span>
	           			   	   	<select id="ecomCode" name="ecomCode" class="input-large">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${channelList}" th:value="${c.code}" ><span th:text="${c.value}" /><span th:text="${c.code}" /></option>
								</select>
	                     	</div>
	                     	<div class="input-prepend">
	           			   	   	<span class="add-on">显示标识</span>
	           			   	   	<select id="isDisplay" name="isDisplay" class="input-medium">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${isDisplayList}" th:value="${c.code}"><span th:text="${c.value}" /></option>
								</select>
	                     	</div>
	                     	<div class="input-prepend">
	           			   	   	<span class="add-on">楼层类型</span>
	           			   	   	<select id="type" name="type" class="input-medium">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${floorTypeList}" th:value="${c.code}"><span th:text="${c.value}" /></option>
								</select>
	                     	</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>
								<button type="button" class="btn btn-primary btn-add">新 增</button>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal" style="table-layout: fixed; ">
						<thead>
							<tr>
								<th></th>
								<th>FloorID</th>
								<th>楼层标题</th>
				                <th>楼层类型</th>
				                <th>电商名称</th>
				                <th>显示标识</th>
				                <th>排序</th>
				                <th>创建时间</th>
				                <th>操作</th>
							</tr>
						</thead>
				        <tbody>
							<tr th:if="${not #lists.isEmpty(pageInfo.List)}" th:each="floor,floorStat : ${pageInfo.list}" th:inline="text">
								<td><span th:text="${floorStat.count}"></span></td>
								<td><span th:text="${floor.floorId}"></span></td>
								<td style="overflow: hidden; text-overflow:ellipsis;white-space: nowrap; "><span th:text="${floor.title}"></span></td>
								<td><span th:text="${floor.type}"></span></td>
				                <td><span th:text="${floor.ecomCode}"></span></td>
				                <td><span th:text="${floor.isDisplay}"></span></td>
				                <td><span th:text="${floor.sort}"></span></td>
				                <td><span th:text="${floor.createTime}"></span></td>
				                <td>
				                	<a th:attr="floorId=${floor.floorId}" title="添加商品" class="btn-mini btn-add-banner" href="#"><i class="icon-plus"></i></a>
									<a th:attr="floorId=${floor.floorId}" title="编辑" class="btn-mini btn-edit" href="#"><i class="icon-edit"></i></a>
									<a th:attr="floorId=${floor.floorId}" title="删除" class="btn-mini btn-delete" href="#"><i class="icon-remove"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				    <div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
			    </form>
			</div>
		</div>
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="routesInfo" class="form-horizontal form_validation_tip" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal">&times;</button>
					<h3 id="modal_h"></h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="floor_id" name="floor_id"/>
					<fieldset>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>楼层标题</label>
							<div class="controls">
								<input type="text" class="span3" id="title1" name="title1" maxlength="5" />
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>楼层类型</label>
							<div class="controls">
								<select id="type1" name="type1"  class="span3">
									<option th:each="c,cStat : ${floorTypeList}" th:value="${c.code}"><span th:text="${c.value}" /></option>
			                     </select>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group" id = "ecomCodeId">
							<label class="control-label">电商名称</label>
							<div class="controls">
								<select id="ecom_code" name="ecom_code"  class="span3">
									<option th:value="0">--请选择--</option>
									<option th:each="c,cStat : ${channelList}" th:value="${c.code}"><span th:text="${c.value}" /><span th:text="${c.code}" /></option>
			                     </select>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">显示标识</label>
							<div class="controls">
								<select id="is_display" name="is_display"  class="span3">
									<option th:each="c,cStat : ${isDisplayList}" th:value="${c.code}"><span th:text="${c.value}" /></option>
			                     </select>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>排序</label>
							<div class="controls">
								<input type="text" class="span3" id="sort" name="sort" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="8"/>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
			</div>
			<div class="modal-footer" style="text-align: center;">
				<button class="btn btn-primary btn-submit" type="submit">提 交 </button>
			    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
			</div>
			</form>
		</div> 
		<script th:src="@{/ecom/js/floor/listFloor.js}"></script>
		<script th:inline="javascript">
			$("#ecomCode").val(/*[[${floor.ecomCode}]]*/);
			$("#isDisplay").val(/*[[${floor.isDisplay}]]*/);
			$("#type").val(/*[[${floor.type}]]*/);
		</script>
	</body>
</html>

