<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>网易严选</title>
<head th:include="main/hkbstore/header::header" />
</head>
<body>
<!--知了企服商城首页-->
<!--搜索栏-->
<!-- <div class="search_tab"> -->

<!--     <a class="return_hkb_mall" th:href="@{/ecom/hkbstore/index}"> -->
<!--         <div class="return"> -->
<!--             <img class="return_icon" th:src="@{/front/images/hkbstore/icons/return_hkb_mall.png}" /> -->
<!--             <p>返回商城</p> -->
<!--         </div> -->
<!--     </a> -->
<!--     <form id="searchForm" th:action="@{/ecom/solrGoods/listSolrGoods}" th:object="${goodsQueryParam}" class="form-inline" method="post"> -->
<!--     <div class="content"> -->
<!--         <div class="search "> -->
<!--             <img class="search_icon" th:src="@{/front/images/hkbstore/icons/search.png}" /> -->
<!--             	<input type = "hidden" name="ecomCode" id="ecomCode" th:value="${ecomCode}"/> -->
<!--                 <input type="search" name = "keyword" id ="keyword"  placeholder="输入商品名搜索" /> -->
<!--                 <input type="submit" th:value="搜索" /> -->
<!--         </div> -->
<!--     </div> -->
<!--     </form> -->
<!-- </div> -->


<!--banner栏-->
<div class="jf_homepage_autoplay">
    <div class="jf_autoplay_images jf_autoplay_init">
        <a th:href="${settingBanner.bannerUrl}" th:each="settingBanner,settingBannerStat : ${settingBannerList}">
            <div class="JD_banner_template">
                <div class="banner_paster">
                    <img  src="" th:attr="data-imgurl=${settingBanner.imageUrl}" />
                </div>
            </div>
        </a>
    </div>
    <div class="jf_pagination">
    </div>
</div>



<!--商城列表-->
<div class="homepage_advertising">

    <div class="notice_icon">
        <img th:src="@{/front/images/hkbstore/icons/notice.png}" />
    </div>

    <div class="notice_text">
        <p>知了企服 —— 薪生活的方式，极简而从容</p>
<!--         <p>最新爆品，你想要的都在这里，快快抢购！</p> -->
    </div>
</div>

<!--推荐商品-->
<span th:each="floor,floorStat : ${floorList}">

<div class="homepage_recommendation" th:if="${not #lists.isEmpty(floor.goods)}">

<!--     <div class="recommendation recommendation1"> -->
    
    	<a class="title more_radius" th:href="@{/hkbstore/recommendMore/getRecommendMoreList(floorId=${floor.floorId},type=1,ecomCode=${ecomCode})}">
	        <p class="title_text"><span th:text="${floor.title}"></span></p>
	    </a>

        <!--标题-->
<!--         <div class="title"> -->
<!--             <span class="line"></span> -->
<!--             <p class="title_text"><span th:text="${floor.title}"></span></p> -->
<!--             <span class="line"></span> -->
<!--         </div> -->

        <!--圆点更多-->
<!--         <a class="circle" th:href="@{/hkbstore/recommendMore/getRecommendMoreList(floorId=${floor.floorId},type=1,ecomCode=${ecomCode})}"> -->
<!--             <span></span> -->
<!--             <span></span> -->
<!--             <span></span> -->
<!--         </a> -->

        <!--第一行-->
        <div class="goods_list list1">
            <a class="list_detail" th:href="@{/ecom/goods/detail(goodsId=${goods.goodsId})}" th:each="goods,goodsStat : ${floor.goods}">
                <div class="pic">
                    <img class="banner_pic" src="" th:attr="data-imgurl=${goods.picUrl}"/>
                </div>
                <div class="goods_title"><span th:text="${goods.goodsName}"></span></div>
                <div class="price">¥<span th:text="${goods.goodsPrice}"></span></div>
            </a>
        </div>
</div>
</span>


<!--底部导航-->
<div th:include="main/hkbstore/ecomFoot::ecomFoot" />



<script>
	
	//图片懒加载
    window.onload=function() {

        document.getElementsByTagName('body')[0].className = 'lazy_loading_img';

        loadingImg.lazyLoading();

    }
	jfAutoPlay.jfCarouselInit();
</script>
</body>
</html>