<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="main/header::header" />
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
 			<div class="main_content">
 				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a href="#"><i class="icon-home"></i></a></li>
		                    <li>订单管理</li>
		                    <li>电商二级订单管理</li>
		                </ul>
		            </div>
	        	</nav>
				<form id="searchForm" th:action="@{/platforder/platforder/getPlatfShopOrderLists}" th:object="${platfShopOrder}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
								<span class="add-on">二级订单编号</span> 
								<input id="sOrderId" name="sOrderId" type="text" class="input-medium" th:value="*{sOrderId}" maxlength="12"/>
							</div>
							<div class="input-prepend">
								<span class="add-on">一级订单编号</span> 
								<input id="orderId" name="orderId" type="text" class="input-medium" th:value="*{orderId}"/>
							</div>
							<div class="input-prepend">
								<span class="add-on">会员昵称</span> 
								<input id="personalName" name="personalName" type="text" class="input-medium" th:value="*{personalName}"/>
							</div>
							<div class="input-prepend">
								<span class="add-on">会员手机号码</span> 
								<input id="mobilePhoneNo" name="mobilePhoneNo" type="text" class="input-medium" th:value="*{mobilePhoneNo}" maxlength="11"/>
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>
								<button type="button" class="btn btn-primary btn-upload">导出表格</button>
							</div>
						</div>
					</div>
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
	           			   	   	<span class="add-on">电商名称</span>
	           			   	   	<select id="ecomCode" name="ecomCode" class="input-135">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${ecomCodeList}" th:value="${c.code}" ><span th:text="${c.value}" /><span th:text="${c.code}" /></option>
								</select>
	                     	</div>
							<div class="input-prepend">
	           			   	   	<span class="add-on">订单状态</span>
	           			   	   	<select id="subOrderStatus" name="subOrderStatus" class="input-medium">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${subOrderStatusList}" th:value="${c.code}" ><span th:text="${c.value}" /></option>
								</select>
	                     	</div>
							<div class="input-prepend">
	           			   	   	<span class="add-on">支付状态</span>
	           			   	   	<select id="payStatus" name="payStatus" class="input-medium">
	           			   	   		<option value=""><span th:text="请选择" /></option>
									<option th:each="c,cStat : ${payStatusList}" th:value="${c.code}" ><span th:text="${c.value}" /></option>
								</select>
	                     	</div>
	                     	<div id="datetimepicker1" class="input-prepend input-append date date-time-picker">
	                        	<span class="add-on">开始时间</span>
	                            <input class="input-medium" id="beginTime" name="beginTime" readonly="readonly" type="text" th:value="*{beginTime}" />
	                            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
	                        </div> 
	                        <div id="datetimepicker2" class="input-prepend input-append date date-time-picker">
		                        <span class="add-on">结束时间</span>
		                        <input class="input-medium" id="endTime" name="endTime" readonly="readonly" type="text" th:value="*{endTime}" />
		                        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
	                        </div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal">
						<thead>
							<tr>
								<th></th>
								<th>二级订单编号</th>
								<th>一级订单编号</th>
								<th>会员ID</th>
								<th>会员昵称</th>
								<th>会员手机号</th>
								<th>电商名称</th>
				                <th>订单金额(元)</th>
				                <th>配送费用(元)</th>
				                <th>渠道订单金额(元)</th>
				                <th>渠道订单邮费(元)</th>
				                <th>订单状态</th>
				                <th>下单时间</th>
				                <th>支付状态</th>
				                <th>支付时间</th>
				                <th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="platfShopOrder,platfShopOrderStat : ${pageInfo.list}" th:inline="text">
								<td><span th:text="${platfShopOrderStat.count}"></span></td>
								<td><span th:text="${platfShopOrder.sOrderId}"></span></td>
								<td><span th:text="${platfShopOrder.orderId}"></span></td>
								<td><span th:text="${platfShopOrder.memberId}"></span></td>
								<td><span th:text="${platfShopOrder.personalName}"></span></td>
								<td><span th:text="${platfShopOrder.mobilePhoneNo}"></span></td>
								<td><span th:text="${platfShopOrder.ecomCode}"></span></td>
				                <td><span th:text="${platfShopOrder.payAmt}"></span></td>
								<td><span th:text="${platfShopOrder.shippingFreightPrice}"></span></td>
								<td><span th:text="${platfShopOrder.chnlOrderPrice}"></span></td>
								<td><span th:text="${platfShopOrder.chnlOrderPostage}"></span></td>
								<td><span th:text="${platfShopOrder.subOrderStatusValue}"></span></td>
								<td><span th:text="${platfShopOrder.createTime}"></span></td>
								<td><span th:text="${platfShopOrder.payStatus}"></span></td>
								<td><span th:text="${platfShopOrder.payTime}"></span></td>
								<td>
									<a th:if="${platfShopOrder.subOrderStatus == '44'}" th:attr="sOrderId=${platfShopOrder.sOrderId}" title="重新下单" class="btn-mini btn-again-submit" href="#"><i class="icon-ok"></i></a>
									<a th:if="${platfShopOrder.subOrderStatus == '44'}" th:attr="sOrderId=${platfShopOrder.sOrderId}" title="作废" class="btn-mini btn-edit" href="#"><i class="icon-edit"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				    <div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
				    </form>
			</div>
		</div>
		<script th:src="@{/ecom/js/platforder/listPlatfShopOrders.js}"></script>
		<script th:inline="javascript">
			$("#ecomCode").val(/*[[${platfShopOrder.ecomCode}]]*/);
			$("#subOrderStatus").val(/*[[${platfShopOrder.subOrderStatus}]]*/);
			$("#payStatus").val(/*[[${platfShopOrder.payStatus}]]*/);
		</script>
	</body>
</html>

