<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="main/header::header" />
<body>
	<header th:include="main/navbar::navbar" />
	<div id="contentwrapper">
		<div class="main_content">
			<nav>
				<div id="jCrumbs" class="breadCrumb module">
					<ul>
	                    <li><a th:href="@{/main}"><i class="icon-home"></i></a></li>
	                    <li>电商管理</li>
	                    <li><a th:href="@{/eSetting/listEsetting}">电商服务设置</a></li>
	                    <li>未添加电商banner</li>
	                </ul>
				</div>
			</nav>
			<form  th:action="@{/eSetting/intoNotSettingBannerList}" th:object="${entity}" class="form-inline" method="post">
				<input type="hidden" id = "settingId" name="settingId" th:value="${settingId}" />
				<div class="row-fluid searchForm" id="h_search">
					<div class="span12">
						<div class="input-prepend">
							<span class="add-on">备注</span> 
							<input id="bannerRemarks" name="bannerRemarks" type="text" class="input-medium" th:value="*{bannerRemarks}" maxlength="20"/>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-search">查 询</button>
							<button type="button" class="btn btn-inverse btn-reset">重 置</button>
						</div>
					</div>
				</div>
			</form>
			<form id="searchForm" class="form-inline" th:method="post">
				<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal" style="table-layout: fixed; ">
					<thead>
						<tr>
							<th><input type="checkbox" id="selectAll" title="全选" class="checkbox" /></th>
							<th>图片地址</th>
			                <th>图文链接</th>
			                <th>规格</th>
			                <th>备注</th>
						</tr>
					</thead>
			        <tbody>
						<tr th:each="settingBanner,settingBannerStat : ${pageInfo.list}" th:inline="text">
							<td>
								<span>
									<input type="checkbox" name="bannerId" th:value="${settingBanner.bannerId}" class="checkbox"/>
								</span>
							</td>
							<td style="overflow: hidden; text-overflow:ellipsis;white-space: nowrap; "><span th:text="${settingBanner.imageUrl}"></span></td>
			                <td style="overflow: hidden; text-overflow:ellipsis;white-space: nowrap; "><span th:text="${settingBanner.bannerUrl}"></span></td>
			                <td><span th:text="${settingBanner.spec}"></span></td>
			                <td><span th:text="${settingBanner.bannerRemarks}"></span></td>
						</tr>
					</tbody>
				</table>
				<div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
				<div style="text-align: center;">
					<button type="button" class="btn btn-primary btn-submit">提 交</button>
					<button type="button" class="btn btn-back">返 回</button>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/ecom/js/esetting/listNotSettingBanner.js}"></script>
</body>
</html>

